.search-results {
  background: #fff;
}

.search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 70px;
}

.search-result-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
